fastapi==0.115.2
joblib==1.4.2
matplotlib==3.8.4
mlflow==2.17.0
mlflow_skinny==2.17.0
nltk==3.9.1
numpy==2.1.2
pandas==2.2.3
pydantic==1.10.17
pytest==8.3.3
scikit_learn==1.5.2
seaborn==0.13.2
typing_extensions==4.12.2
wordcloud==0.0.0
wordcloud==1.9.3
yellowbrick==1.5
zenml==0.67.0
